@model IEnumerable<HannesMalterRoadTransport.Models.Transport>

@{
    ViewData["Title"] = "Assign car number";
}

<h1>Assign Transport Car number</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarNR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrnspReady)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ETA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Driver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarNR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrnspReady)
                </td>
                <td>
                    <a asp-action="EditTransportCarNumber" asp-route-id="@item.Id">Edit car number</a>
                </td>
            </tr>
        }
    </tbody>
</table>
